<?xml version='1.0' encoding='utf-8'?>
<widget id="com.crunchbutton.cockpit" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Cockpit</name>
	<description>
		Crunchbutton's Cockpit
	</description>
	<author email="dev@crunchbutton.com" href="http://crunchbutton.com">
		Crunchbutton, Devin Smith
	</author>
	<icon src="icon.png" />
	<splash src="splash.png" />
	<content src="index.html" />

	<preference name="DisallowOverscroll" value="true" />
	<preference name="BackgroundColor" value="0x00000000"/>
	<preference name="HideKeyboardFormAccessoryBar" value="true" />
	<preference name="StatusBarOverlaysWebView" value="true" />
	
	<preference name="KeyboardDisplayRequiresUserAction" value="false" />

	<!--
	<preference name="BackgroundColor" value="0xff202228" />
	<preference name="StatusBarBackgroundColor" value="#000000" />
	<preference name="StatusBarStyle" value="lightcontent" />

	<feature name="StatusBar">
		<param name="ios-package" value="CDVStatusBar" onload="true" />
	</feature>
	-->

	<access origin="*" />
</widget>
