<?xml version='1.0' encoding='utf-8'?>
<widget id="com.crunchbutton.cockpit" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>Cockpit</name>
	<description>
		Crunchbutton's Cockpit
	</description>
	<author email="dev@crunchbutton.com" href="http://crunchbutton.com">
		Crunchbutton, Devin Smith
	</author>
	<preference name="permissions" value="none" />
	<preference name="phonegap-version" value="3.6.3" />
	<preference name="orientation" value="default" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="false" />
	<preference name="prerendered-icon" value="true" />
	<preference name="stay-in-webview" value="true" />
	<preference name="ios-statusbarstyle" value="default" />
	<preference name="detect-data-types" value="true" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="show-splash-screen-spinner" value="false" />
	<preference name="auto-hide-splash-screen" value="false" />
	<preference name="disable-cursor" value="false" />
	<preference name="android-minSdkVersion" value="7" />
	<preference name="android-targetSdkVersion" value="21" />
	<preference name="android-installLocation" value="auto" />
	<gap:plugin name="org.apache.cordova.battery-status" />
	<gap:plugin name="org.apache.cordova.camera" />
	<gap:plugin name="org.apache.cordova.media-capture" />
	<gap:plugin name="org.apache.cordova.console" />
	<gap:plugin name="org.apache.cordova.contacts" />
	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.device-motion" />
	<gap:plugin name="org.apache.cordova.device-orientation" />
	<gap:plugin name="org.apache.cordova.dialogs" />
	<gap:plugin name="org.apache.cordova.file" />
	<gap:plugin name="org.apache.cordova.file-transfer" />
	<gap:plugin name="org.apache.cordova.geolocation" />
	<gap:plugin name="org.apache.cordova.globalization" />
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	<gap:plugin name="org.apache.cordova.media" />
	<gap:plugin name="org.apache.cordova.network-information" />
	<gap:plugin name="org.apache.cordova.splashscreen" />
	<gap:plugin name="org.apache.cordova.vibration" />
	
	<gap:plugin name="com.phonegap.plugins.pushplugin" />
	<gap:plugin name="dk.vertica.taptoscroll" version="0.1.0" />
	<gap:plugin name="net.bgta.phonegap.plugin.appversion" version="1.1.1" />
	<gap:plugin name="org.transistorsoft.cordova.background-geolocation" version="0.3.2" />
	<gap:plugin name="com.jamiestarke.webviewdebug" version="1.0.8" />

	<icon src="res/icon.png" />
	<content src="index.html" />

	<preference name="DisallowOverscroll" value="true" />
	<preference name="BackgroundColor" value="0x00000000"/>
	<preference name="HideKeyboardFormAccessoryBar" value="true" />
	<preference name="StatusBarOverlaysWebView" value="true" />
	
	<preference name="KeyboardDisplayRequiresUserAction" value="false" />
	


    <icon gap:platform="blackberry" src="www/res/icon/blackberry/icon-80.png" />
    <icon gap:platform="blackberry" gap:state="hover" src="www/res/icon/blackberry/icon-80.png" />

    <icon gap:platform="ios" height="57" src="res/icon/ios/icon.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="res/icon/ios/icon@2x.png" width="114" />
    <icon gap:platform="ios" height="144" src="res/icon/ios/icon-72@2x.png" width="144" />
    
    <icon gap:platform="android" gap:qualifier="ldpi" src="res/icon/android/icon-36-ldpi.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/icon/android/icon-48-mdpi.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/icon/android/icon-72-hdpi.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />
    <icon gap:platform="android" gap:qualifier="xxhdpi" src="res/icon/android/icon-144-xxhdpi.png" />
    
    <icon gap:platform="android" height="72" src="res/icon/android/icon-72-hdpi.png" width="72" />
    <icon gap:platform="android" height="144" src="res/icon/android/icon-144-xxhdpi.png" width="144" />

    <icon gap:platform="webos" src="www/res/icon/webos/icon-64.png" />
    <icon gap:platform="winphone" src="www/res/icon/windows-phone/icon-48.png" />
    <icon gap:platform="winphone" gap:role="background" src="www/res/icon/windows-phone/icon-173-tile.png" />

    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />

    <gap:splash gap:platform="blackberry" src="www/res/screen/blackberry/screen-225.png" />

    <gap:splash gap:platform="ios" height="480" src="res/screen/ios/screen-iphone-portrait.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="res/screen/ios/screen-iphone-portrait-2x.png" width="640" />
    <gap:splash gap:platform="ios" height="1136" src="res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" />
    <gap:splash gap:platform="ios" height="1024" src="res/screen/ios/screen-ipad-portrait.png" width="768" />
    <gap:splash gap:platform="ios" height="768" src="res/screen/ios/screen-ipad-landscape.png" width="1024" />

    <gap:splash gap:platform="winphone" src="www/res/screen/windows-phone/screen-portrait.jpg" />
	
	<gap:config-file platform="ios" parent="UIStatusBarStyle" overwrite="true">
		<string>UIStatusBarStyleLightContent</string>
	</gap:config-file>
	<gap:config-file platform="ios" parent="UIStatusBarHidden" overwrite="true">
		<false/>
	</gap:config-file>
	<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance" overwrite="true">
		<false/>
	</gap:config-file>
	<gap:config-file platform="ios" parent="UILaunchStoryboardName" overwrite="true">
		<string>MainViewController</string>
	</gap:config-file>

	<access origin="*" />
</widget>
