<?xml version='1.0' encoding='utf-8'?>
<widget id="com.crunchbutton.cockpit" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>Cockpit</name>
	<description>
		Crunchbutton's Cockpit
	</description>
	<author email="dev@crunchbutton.com" href="http://crunchbutton.com">
		Crunchbutton, Devin Smith
	</author>
	<preference name="permissions" value="none" />
	<preference name="phonegap-version" value="3.5.0" />
	<preference name="orientation" value="default" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="false" />
	<preference name="prerendered-icon" value="true" />
	<preference name="stay-in-webview" value="true" />
	<preference name="ios-statusbarstyle" value="default" />
	<preference name="detect-data-types" value="true" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="show-splash-screen-spinner" value="false" />
	<preference name="auto-hide-splash-screen" value="false" />
	<preference name="disable-cursor" value="false" />
	<preference name="android-minSdkVersion" value="7" />
	<preference name="android-installLocation" value="auto" />
	<gap:plugin name="org.apache.cordova.battery-status" />
	<gap:plugin name="org.apache.cordova.camera" />
	<gap:plugin name="org.apache.cordova.media-capture" />
	<gap:plugin name="org.apache.cordova.console" />
	<gap:plugin name="org.apache.cordova.contacts" />
	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.device-motion" />
	<gap:plugin name="org.apache.cordova.device-orientation" />
	<gap:plugin name="org.apache.cordova.dialogs" />
	<gap:plugin name="org.apache.cordova.file" />
	<gap:plugin name="org.apache.cordova.file-transfer" />
	<gap:plugin name="org.apache.cordova.geolocation" />
	<gap:plugin name="org.apache.cordova.globalization" />
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	<gap:plugin name="org.apache.cordova.media" />
	<gap:plugin name="org.apache.cordova.network-information" />
	<gap:plugin name="org.apache.cordova.splashscreen" />
	<gap:plugin name="org.apache.cordova.vibration" />
	
	<gap:plugin name="com.phonegap.plugins.pushplugin" />
	<gap:plugin name="dk.vertica.taptoscroll" version="0.1.0" />
	<gap:plugin name="net.bgta.phonegap.plugin.appversion" version="1.1.1" />
	<gap:plugin name="org.transistorsoft.cordova.background-geolocation" version="0.3.2" />
	<gap:plugin name="com.jamiestarke.webviewdebug" version="1.0.8" />

	<icon src="icon.png" />
	<splash src="splash.png" />
	<content src="index.html" />

	<preference name="DisallowOverscroll" value="true" />
	<preference name="BackgroundColor" value="0x00000000"/>
	<preference name="HideKeyboardFormAccessoryBar" value="true" />
	<preference name="StatusBarOverlaysWebView" value="true" />
	
	<preference name="KeyboardDisplayRequiresUserAction" value="false" />
		
	<gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
	<gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
	<gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
	<gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
	<gap:splash gap:platform="blackberry" src="res/screen/blackberry/screen-225.png" />
	<gap:splash gap:platform="ios" height="480" src="splash.png" width="320" />
	<gap:splash gap:platform="ios" height="960" src="splash.png" width="640" />
	<gap:splash gap:platform="ios" height="1136" src="splash.png" width="640" />
	<gap:splash gap:platform="ios" height="1024" src="splash.png" width="768" />
	<gap:splash gap:platform="ios" height="768" src="splash.png" width="1024" />
	<gap:splash gap:platform="winphone" src="res/screen/windows-phone/screen-portrait.jpg" />
	
	<gap:config-file platform="ios" parent="UIStatusBarStyle" overwrite="true">
		<string>UIStatusBarStyleLightContent</string>
	</gap:config-file>
	<gap:config-file platform="ios" parent="UIStatusBarHidden" overwrite="true">
		<false/>
	</gap:config-file>
	<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance" overwrite="true">
		<false/>
	</gap:config-file>
	<gap:config-file platform="ios" parent="UILaunchStoryboardName" overwrite="true">
		<string>MainViewController</string>
	</gap:config-file>

	
	<access origin="*" />
</widget>
