html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 10px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


a {
	color: #e45b37;
	text-decoration: underline;
}



button, :focus {
	outline : none;
}


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.log div.error {
	-webkit-transform: translateZ(0);
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}



@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1.0; }
}

.log {
	font-size: .9em;
	text-align: left;
	height: 140px;
	width: 100%;

	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	margin-top: 2em;
	margin-bottom: 4em;
	word-break:break-all;
}

.log div {
	-webkit-transform: translateZ(0);

	padding-bottom: .4em;
	margin-bottom: .4em;
	border-bottom: 1px dashed #46474c;

    animation: fadeIn 100ms 1;
    -webkit-animation: fadeIn 100ms 1;
}

.log .debug {
	color: #9fa0a2;
}

.log .error {
	color: #ea4444;
}
.log .good {
	color: #5ae55d;
}

#status {
	margin-bottom: 1em;
}

.status-connecting h1:not(.message-connecting),
.status-loading h1:not(.message-loading),
.status-error h1:not(.message-error),
.status-retry h1:not(.message-retry),
.status-success h1:not(.message-success) {
	display: none;
}

.error-info {
	opacity: 0;
	-webkit-transform: translateZ(0);
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}

.status-error .error-info {
	opacity: 1;
}


.help {
	margin-top: 1em;
	line-height: 1.5em;
}

.status-connecting #skip a,
.status-error #skip a,
.status-retry #skip a,
.status-success #skip a {
	opacity: 0 !important;
}

#skip {
	position: absolute;
	bottom: 2em;
	text-align: center;
	box-sizing: border-box;
	width: 100%;
	left: 0;
	right: 0;
	display: none;
}

#skip a {
	display: none;
	opacity: 0;
	-webkit-transform: translateZ(0);
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
	text-transform:uppercase;
	font-weight: bold;
}

#skip.allowed a {
	opacity: 1;
	display: inline-block;
}




body {
	font: 12px Trebuchet MS, Helvetica, sans-serif;
	color: #fff;
	background: #202228;
}

.container {
	margin: 0 auto;
	padding-top: 30%;
	width: 260px;
	text-align: center;
}
.container .progress {
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
}

.progress {
	padding: 4px;
	background: rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	/*
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
	*/
}

.progress-bar {
	position: relative;
	height: 16px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
	box-sizing: border-box;
	width: 0;
}
.progress-bar.animated {
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	-webkit-transition-property: width, background-color;
	-moz-transition-property: width, background-color;
	-o-transition-property: width, background-color;
	transition-property: width, background-color;
}
.progress-bar:before, .progress-bar:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.progress-bar:before {
	bottom: 0;
	border-radius: 4px 4px 0 0;
}
.progress-bar:after {
	z-index: 2;
	bottom: 45%;
	border-radius: 4px;
	/*
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	*/
}

h1 {
	font-size: 1.2em;
	font-weight: bold;
	text-transform:uppercase;
	margin-bottom: 1em;
}



/* colors */
.button.orange {
	background: #e1574c;
	font-weight: bold;
}

.button {
	border: 0;
	padding: .5em 0 .5em 0;
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.1em;
	width: 100%;

}

.button:active {
	opacity: .8;
}
